@media (max-width: 480px) {
    #loading-section {
        max-width: 480px;
    }
    /*Loading Page*/
    .loading-page .logo img {
        width: 60px; /* Ukuran logo lebih kecil di handphone */
    }

    .loading-page .loading-bar {
        width: 80%; /* Lebar loading bar lebih besar di handphone */
    }

    .loading-page .jobdesk {
        font-size: 14px; /* Ukuran font lebih kecil */
    }

    .loading-page .percentage {
        font-size: 14px; /* Ukuran font lebih kecil */
    }

    .loading-text {
        font-size: 14px; /* Ukuran font loading text lebih kecil */
    }
    /* End Loading Page*/



    /*Glow Effect*/
    .glow-1 {
        width: 60px;
        height: 60px;
        top: 100%;
        left: 80%;
    }

    .glow-2 {
        width: 100px;
        height: 100px;
        top: 120%;
        left: 30%;
    }

    .glow-3 {
        width: 50px;
        height: 50px;
        top: 140%;
        left: 70%;
    }
    /*End Glow Effect*/



    /* Home */
    .header {
        max-width: 95%;
        padding: 8px 10px;
        margin-bottom: 15px;
    }

    .logo {
        margin-left: 5px;
        font-size: 16px;
    }

    .nav {
        margin-right: 0px;
    }

    .nav a {
        font-size: 11px;
        margin-left: 10px;
    }

    .available {
        width: 70px;
        font-size: 11px;
    }

    .available-text {
        font-size: 9px;
    }

    .home {
        width: 100%;
        max-width: 100%; /* Menjaga elemen home agar tidak melebihi lebar layar */
        flex-direction: column;
    }

    .left-section img, #hero-image-hover {
        width: 100%;
        max-width: 100%; /* Membatasi lebar gambar agar tidak keluar layar */
        height: auto;
    }

    .right-section {
        padding-left: 0;
    }

    .right-section h1 {
        font-size: 28px;
    }

    .right-section p {
        font-size: 12px;
    }

    .whatsapp-button {
        font-size: 12px;
        padding: 8px 10px;
        margin-left: 110px;
    }
    /* End Home */



    /* Navbar */
    .navbar {
        max-width: 480px;
        padding: 10px; /* Adjust padding */
    }

    .navbar a {
        margin: 8px 0; /* Adjust margin for vertical spacing */
        font-size: 10px; /* Decrease font size */
        padding: 5px;
    }
    /* End Navbar */



    /* Experience */
    .experience h1 {
        font-size: 28px; /* Adjust header size */
    }

    .history {
        max-width: 100%;
        padding: 10px;
    }

    .job img {
        width: 100px; /* Further adjust image size */
        height: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .job .jobdesk {
        width: 100%;
    }
    .job .jobdesk h2 {
        font-size: 18px; /* Further adjust heading size */
    }

    .jobdesk {
        margin-right: 5px;
    }

    .job .jobdesk {
        margin-left: 120px;
    }

    .job:nth-child(even) .jobdesk {
        margin-right: 120px;
    }
    .job .jobdesk p {
        font-size: 12px; /* Further adjust paragraph size */
    }

    .window {
        width: 150px; /* Further adjust window size */
        height: 150px;
    }

    .window .period {
        font-size: 10px; /* Further adjust period size */
    }
    /* End Experience */



    /* Portfolio */
    #portfolio {
        max-width: 480px;
    }
    .slider-card {
        width: 80%; /* Adjust the width of each card */
        margin: 10px auto; /* Adjust margin for spacing */
        padding: 8px; /* Reduce padding */
    }

    .project-title {
        font-size: 18px; /* Further reduce font size */
        margin-left: 15px;
    }
    
    .portfolio h1 {
        font-size: 24px; /* Further reduce font size */
    }
    .owl-nav .owl-next{
        right: -20px !important; /* Jarak dari tepi kanan */
    }
    
    .owl-nav .owl-prev {
        left: -20px !important; /* Jarak dari tepi kiri */
    }
    /* End Portfolio */



    /* Education */
    #education {
        max-width: 480px;
    }
    .education {
        font-size: 24px; /* Ukuran font yang lebih kecil untuk mobile */
    }

    .education h1 {
        font-size: 28px; /* Ukuran h1 yang lebih kecil */
    }

    .edu-header {
        margin-top: 50px;
        font-size: 20px; /* Ukuran header yang lebih kecil */
        margin-left: 15px; /* Menghapus margin kiri */
    }

    .my-edu {
        flex-direction: column; /* Ubah menjadi kolom untuk tampilan mobile */
        padding: 20px; /* Tambahkan padding untuk mobile */
    }

    .left-edu {
        width: 100%; /* Ubah lebar menjadi 100% untuk tampilan mobile */
        margin-right: 0; /* Hapus margin kanan */
        margin-bottom: 20px; /* Tambahkan margin bawah untuk jarak */
    }

    .right-edu {
        width: 100%; /* Ubah lebar menjadi 100% untuk tampilan mobile */
    }

    .my-name {
        font-size: 24px; /* Ukuran nama yang lebih kecil */
    }

    .about-me {
        font-size: 14px; /* Ukuran teks tentang saya yang lebih kecil */
    }

    .loc-date {
        font-size: 12px; /* Ukuran teks lokasi dan tanggal yang lebih kecil */
        margin-bottom: 50px;
    }

    .edu-item {
        flex-direction: row;
        padding: 0px;
        position: relative;
    }

    .edu-item .image-edu {
        width: 80px;
        height: 80px;
        margin-right: 15px;
        margin-bottom: 10px;
    }

    .edu-item img {
        width: 60px; /* Ukuran gambar lebih kecil untuk mobile */
        height: 60px; /* Ubah tinggi gambar menjadi lebih kecil */
        margin-bottom: 5px;
    }

    .edu-item .edu-years {
        font-size: 9px; /* Ukuran tahun yang lebih kecil */
    }

    .edu-item .edu-content {
        text-align: center;
        margin-left: 50px;
        margin-bottom: 10px;
    }

    .edu-item .edu-title {
        font-size: 16px;
    }

    .edu-item .edu-description,
    .edu-item .edu-location {
        font-size: 14px;
    }

    .edu-item .edu-arrow {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
    }
    /* End Education */
    
    
    /* Skill */
    .skills {
        grid-template-columns: repeat(3, 1fr); /* Mengatur 4 kolom per baris */
        column-gap: 20px; /* Mengatur jarak antar kolom */
        row-gap: 20px; /* Mengatur jarak antar baris */
        max-width: 90%; /* Membatasi lebar grid agar lebih cocok di layar kecil */
    }

    .skill-logo {
        width: 100px; /* Sesuaikan ukuran card logo agar lebih kecil */
        height: 100px;
        padding: 5px;
    }

    .skill h1 {
        font-size: 28px; /* Ukuran font skill title lebih kecil di layar 480px */
    }
    /* End Skill */



    /* Services */
    .my-services {
        flex-direction: column; /* Mengubah layout menjadi kolom */
        align-items: center; /* Memusatkan konten */
        gap: 15px; /* Jarak antar card */
    }

    .service-card {
        width: 95%; /* Mengubah lebar card untuk handphone */
    }

    .services {
        font-size: 20px; /* Mengurangi ukuran font untuk judul */
    }

    .services h1 {
        font-size: 20px; /* Mengurangi ukuran font untuk judul */
    }
    .service-card {
        margin-top: 50px;
        padding: 30px;
        border-radius: 10px;
        width: 200px;
    }

    .service-card h2 {
        font-size: 18px; /* Mengurangi ukuran font untuk subjudul */
    }

    .service-card p {
        font-size: 12px; /* Mengurangi ukuran font untuk teks */
    }

    .service-card .number {
        font-size: 14px; /* Mengurangi ukuran font untuk nomor */
    }

    .service-card a {
        font-size: 12px;
    }
    /* End Services */



    /* Contact */
    .contact .talk span {
        font-size: 150px; /* Ukuran font lebih kecil lagi untuk perangkat yang lebih kecil */
    }
    .social-links {
        max-width: 480px;
    }
    .social-links a {
        font-size: 10px;
        margin: 0 5px;
        padding: 5px 10px;
    }
    .social-links a i {
        margin-right: 5px;
    }
    .footer {
        padding: 10px 0; /* Mengurangi padding footer */
    }
    /* End Contact */
}